body {
    font-family: Courier, monospace;
    font-size: 18px;
    color: #222;
    margin: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    font-size: 100px;
    padding: 10px 0 0 100px;
}

.content-area {
    flex: 1;
    display: flex;
    align-items: stretch;
    background-color: #ddddff;
}

.footer {
    flex: 0 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.side-menu {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    background-color: #feb;
    padding: 10px;
}

.side-menu span {
    display: flex;
    flex-direction: column;

}

.side-menu>span {
    padding: 10px 0;
}

.side-menu-sublist {
    font-style: italic;
}

.side-menu-sublist span {
    font-style: normal;
    margin-left: 25px;
    cursor: pointer;
}

.side-menu-sublist span:hover {
    font-weight: 600;
}

.display-area{
    flex: 0 1 1000px;
    display: flex;
    flex-direction: column;
    height: 72vh;
    overflow-y: auto;
}

.right-spacing {
    flex: 1 2 auto;
    background-color: #fff;
}

.task-input-form {
    display: flex;
    margin: 10px;
    gap: 10px;
    order: 1;
}

.title-input {
    flex: 0 2 350px;
}

.text-input {
    display: flex;
    border: 1px solid #888;
    background-color: #fff;
    padding: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.text-input:empty {
    font-style: italic;
    color: #777;
}

.text-input:empty::before {
    content: attr(data-placeholder);
}

.button {
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 1px -3px #222;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}

.lowlight:hover {
    filter: brightness(95%);
}

.lowlight:active {
    filter: brightness(90%);
}

.entry-holder {
    display: flex;
    flex-direction: column;
}

.entry-basic-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr .1fr;
    align-items: baseline;
    background-color: #fff;
    box-shadow: 3px 3px 1px -3px #222;
    column-gap: 12px;
    margin: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-button-holder {
    visibility: hidden;
}

.entry-holder:hover .task-button-holder{
    visibility: visible;
}

.complete-button {
    justify-self: flex-end;
    font-size: 22px;
    cursor: pointer;
}

.complete-button:hover {
    color: #0a2;
}

.completed-task {
    font-style: italic;
    color: #777;
    text-decoration: line-through;
}

.overdue-task {
    color: #f00;
}

.selected-option {
    font-weight: bold;
}

.entry-expanded-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #eee;
    row-gap: 10px;
    box-shadow: 3px 3px 1px -3px #222;
    margin: -5px 12px 12px 12px;
    padding: 10px;
}

.area-input {
    flex: 0 2 350px;
}

.description-input {
    flex: 0 0 80%;
}

.dragging {
    display: none;
}

.drag-over {
    color: #0a2;
}